body {
    margin: 0;
    background: #222;
    font-family: system-ui;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center ;
    gap: 10px;
    min-height: 100vh;
  }
  